networks:
  front-end:
  back-end:

volumes:
  nextcloud_volume:
  redis_volume:

services:

  postgres:
    image: postgres:17-alpine
    container_name: postgres
    restart: unless-stopped
    hostname: postgres
    environment:
      - TZ
      - POSTGRES_DB
      - POSTGRES_USER
      - POSTGRES_PASSWORD_FILE=/run/secrets/postgres_password
      - PGDATA=/var/lib/postgresql/data
      - LANG=de_DE.utf8
      - POSTGRES_INITDB_ARGS=--locale-provider=icu --icu-locale=de-DE
    volumes:
      - /srv/postgres/data:/var/lib/postgresql/data
      - /srv/postgres/srv:/srv # data directory for external dumps
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -d nextcloud -U postgres" ]
      start_period: 15s
      interval: 30s
      retries: 3
      timeout: 5s
    secrets:
      - postgres_password
    networks:
      - back-end

  reverse_proxy:
    image: caddy:2.10.2-alpine
    container_name: reverse_proxy
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 512M
        reservations:
          cpus: '0.25'
          memory: 128M
    ports:
      - "80:80"
      - "443:443"
    environment:
      - TZ
    depends_on:
      - nextcloud_apps
    volumes:
      - /opt/containers/caddy/Caddyfile:/etc/caddy/Caddyfile:ro
      - /opt/containers/caddy/nextcloud.remote:/etc/caddy/nextcloud.remote:ro
      - /srv/caddy/data:/data
      - /srv/caddy/config:/config
      - nextcloud_volume:/var/www/html:ro
      - /srv/nextcloud/custom_apps:/var/www/html/custom_apps:ro
    logging:
      options:
        max-size: 5m
        max-file: 3
    healthcheck:
      test: [ "CMD", "wget", "--no-verbose", "--tries=1", "--spider", "127.0.0.1:2019/metrics" ]
      interval: 10s
      retries: 3
      start_period: 5s
      timeout: 5s
    networks:
      - back-end
      - front-end

  nextcloud_redis:
    image: redis:8-alpine
    container_name: nextcloud_redis
    restart: unless-stopped
    command:
      - --save ""
    volumes:
      - redis_volume:/data
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 2048m
        reservations:
          cpus: '0.25'
          memory: 512m
    healthcheck:
      test: [ "CMD-SHELL", "redis-cli ping | grep PONG" ]
      start_period: 10s
      interval: 30s
      retries: 3
      timeout: 3s
    networks:
      - back-end

  nextcloud_apps:
    container_name: nextcloud_apps
    image: nextcloud:31-fpm-hsofttec
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy
      nextcloud_redis:
        condition: service_healthy
    environment:
      - NEXTCLOUD_TRUSTED_DOMAINS=next.homburg.dynv6.net
      - POSTGRES_HOST=postgres
      - POSTGRES_DB
      - POSTGRES_USER
      - POSTGRES_PASSWORD_FILE=/run/secrets/postgres_password
      - NEXTCLOUD_ADMIN_USER
      - NEXTCLOUD_ADMIN_PASSWORD_FILE=/run/secrets/nextcloud_admin_password
      - REDIS_HOST=nextcloud_redis
      - TRUSTED_PROXIES=172.18.0.0/24
      - OVERWRITEHOST=next.homburg.dynv6.net
      - OVERWRITECLIURL=https://next.homburg.dynv6.net
      - OVERWRITEPROTOCOL=https
      - PHP_MEMORY_LIMIT=1G
      - PHP_UPLOAD_LIMIT=10G
      - SMTP_HOST=smtp-relay.gmail.com
      - MAIL_DOMAIN=hsofttec.com
      - SMTP_PORT=587
      - MAIL_FROM_ADDRESS=nextcloud
    volumes:
      - nextcloud_volume:/var/www/html
      - /srv/nextcloud/custom_apps:/var/www/html/custom_apps
      - /srv/nextcloud/data:/var/www/html/data
      - /srv/nextcloud/config:/var/www/html/config
      - /srv/nextcloud/themes:/var/www/html/themes
      - /mnt/kerstin:/mnt
      - /opt/containers/nextcloud/redis-session.ini:/usr/local/etc/php/conf.d/redis-session.ini
      - /opt/containers/nextcloud/app-hooks/post-installation:/docker-entrypoint-hooks.d/post-installation
    secrets:
      - postgres_password
      - nextcloud_admin_password
    healthcheck:
      test: [ "CMD-SHELL", "php -f /var/www/html/status.php | grep 'installed'" ]
      interval: 10s
      retries: 3
      timeout: 3s
    networks:
      - back-end

  nextcloud_notify:
    image: nextcloud:31-fpm-hsofttec
    container_name: nextcloud_notify
    restart: unless-stopped
    depends_on:
      reverse_proxy:
        condition: service_healthy
      nextcloud_apps:
        condition: service_healthy
    environment:
      - PORT=7867
      - NEXTCLOUD_URL=https://next.homburg.dynv6.net
    volumes:
      - nextcloud_volume:/var/www/html:ro
      - /srv/nextcloud/custom_apps:/var/www/html/custom_apps:ro
      - /srv/nextcloud/config:/var/www/html/config:ro
    entrypoint: /var/www/html/custom_apps/notify_push/bin/x86_64/notify_push /var/www/html/config/config.php
    networks:
      - back-end

  nextcloud_imaginary:
    image: nextcloud/aio-imaginary:latest
    container_name: nextcloud_imaginary
    restart: unless-stopped
    expose:
      - "9000"
    depends_on:
      nextcloud_apps:
        condition: service_healthy
    environment:
      - TZ
    cap_add:
      - SYS_NICE
    tmpfs:
      - /tmp
    networks:
      - back-end

  collabora:
    image: collabora/code:latest
    container_name: collabora
    restart: unless-stopped
    depends_on:
      nextcloud_apps:
        condition: service_healthy
    environment:
      - domain=next.homburg.dynv6.net
      - server_name=collabora.homburg.dynv6.net
      - "extra_params=--o:ssl.enable=false --o:ssl.termination=true -o:user_interface.use_integration_theme=false"
      - username=${COLLABORA_USER}
      - password_FILE=/run/secrets/collabora_password
      - dictionaries=de_DE en_GB en_US
    cap_add:
      - MKNOD
    ports:
      - "9980:9980"
    secrets:
      - collabora_password
    networks:
      - back-end

  gitea:
    image: gitea/gitea:1.21.11
    container_name: gitea
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      - TZ
      - USER_UID=1000
      - USER_GID=1000
      - GITEA__database__DB_TYPE=postgres
      - GITEA__database__HOST=postgres:5432
      - GITEA__database__NAME=gitea
      - GITEA__database__USER=${POSTGRES_USER}
      - GITEA__database__PASSWD_FILE=/run/secrets/gitea_db_password
    volumes:
      - /srv/gitea:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "3000:3000"
      - "2222:22"
    secrets:
      - gitea_db_password
    networks:
      - back-end

  myoffice:
    image: jetty:9.4.49-jdk17
    container_name: myoffice
    environment:
      - TZ
      - JAVA_OPTIONS=-Xmx1g
    restart: unless-stopped
    volumes:
      - /srv/jetty.myoffice:/var/lib/jetty
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - back-end

  paperless:
    image: ghcr.io/paperless-ngx/paperless-ngx:latest
    container_name: paperless
    restart: unless-stopped
    depends_on:
      - postgres
      - nextcloud_redis
      - gotenberg
      - tika
    ports:
      - "8000:8000"
    volumes:
      - /srv/paperless/data:/usr/src/paperless/data
      - /srv/paperless/log:/usr/src/paperless/data/log
      - /srv/paperless/media:/usr/src/paperless/media
      - /srv/paperless/export:/usr/src/paperless/export
      - /srv/paperless/consume:/usr/src/paperless/consume
    env_file: paperless.env
    environment:
      PAPERLESS_REDIS: redis://nextcloud_redis:6379
      PAPERLESS_DBENGINE: postgresql
      PAPERLESS_DBHOST: postgres
      PAPERLESS_DBUSER: ${POSTGRES_USER}
      PAPERLESS_DBPASS: banane
      PAPERLESS_TIKA_ENABLED: 1
      PAPERLESS_TIKA_GOTENBERG_ENDPOINT: http://gotenberg:3000
      PAPERLESS_TIKA_ENDPOINT: http://tika:9998
      PAPERLESS_OCR_LANGUAGE: deu
      PAPERLESS_TRUSTED_PROXIES: 172.18.0.0/24
      PAPERLESS_OCR_OUTPUT_TYPE: pdfa
    networks:
      - back-end

  paperless-ai:
    image: clusterzx/paperless-ai:latest
    container_name: paperless-ai
    restart: unless-stopped
    depends_on:
      - paperless
    ports:
      - "4000:3000"
    volumes:
      - /srv/paperless-ai/data:/app/data
    networks:
      - back-end

  gotenberg:
    image: docker.io/gotenberg/gotenberg:8.22
    container_name: gotenberg
    restart: unless-stopped
    # The gotenberg chromium route is used to convert .eml files. We do not
    # want to allow external content like tracking pixels or even javascript.
    command:
      - "gotenberg"
      - "--chromium-disable-javascript=true"
      - "--chromium-allow-list=file:///tmp/.*"
    networks:
      - back-end

  tika:
    image: docker.io/apache/tika:latest
    container_name: tika
    restart: unless-stopped
    networks:
      - back-end

secrets:
  gitea_db_password:
    file: ./secrets/gitea_db_password.txt
  postgres_password:
    file: ./secrets/postgres_password.txt
  nextcloud_admin_password:
    file: ./secrets/postgres_password.txt
  collabora_password:
    file: ./secrets/collabora_password.txt

