{
	servers {
		trusted_proxies static 172.18.0.0/24
	}

	email homburgs@gmail.com
#	acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

next.homburg.dynv6.net {
    import nextcloud.remote
}

mini {
    tls internal
    import nextcloud.remote
}

collabora.homburg.dynv6.net {
    encode gzip zstd

	@collabora {
		path /browser/* # Browser is the client part of LibreOffice Online
		path /hosting/discovery # WOPI discovery URL
		path /hosting/capabilities # Show capabilities as json
		path /cool/* # Main websocket, uploads/downloads, presentations and admin
	}

	reverse_proxy @collabora http://192.168.178.119:9980 {
		header_up Host {host}
		header_up Connection "Upgrade"
		header_up Upgrade websocket
		transport http {

		}
	}

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains" always; # enable HSTS
	}
}

git.homburg.dynv6.net {
    encode gzip zstd

	reverse_proxy /* gitea:3000 {
		header_up Host {host}
		header_up Connection "Upgrade"
		header_up Upgrade websocket
		transport http {

		}
	}

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains" always; # enable HSTS
	}
}

myoffice.homburg.dynv6.net {
    encode gzip zstd

	reverse_proxy /* myoffice:8080/myoffice {
		header_up Host {host}
		header_up Connection "Upgrade"
		header_up Upgrade websocket
		transport http {

		}
	}

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains" always; # enable HSTS
	}
}
